{% extends "layout.html" %}
{% block content %}
<form method="POST">
    <div class="row">
        <div class="col">
            {{ form.fname.label }}
            {{ form.fname(class = "form-control") }}
        </div>
        <div class="col">
            {{ form.lname.label }}
            {{ form.lname(class = "form-control") }}
        </div>
        <div class="col">
            {{ form.address.label }}
            {{ form.address(class = "form-control") }}
        </div>
    </div>

    <div class="row">
        <div class="col">
           {{ form.city.label }}
            {{ form.city(class = "form-control") }}
        </div>
        <div class="col">
            {{ form.state.label }}
            {{ form.state(class = "form-control") }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form.zip_code.label }}
            {{ form.zip_code(class = "form-control") }}
        </div>
    </div>

            {{ form.submit.label }}
            {{ form.submit(class = "form-control") }}

</form>


{#    <ul class="list-group list-group-flush">#}
{#    {% for temp in all_addresses %}#}
{#        <li class="list-group-item">{{ temp.id }} &nbsp;#}
{#        {{ temp.fname }} &nbsp;#}
{#        {{ temp.lname }} &nbsp;#}
{#        {{ temp.address }} &nbsp;#}
{#        {{ temp.city }} &nbsp;#}
{#        {{ temp.state }} &nbsp; {{ temp.zip_code }}</li><br>#}
{#    {% endfor %}#}
{#    </ul>#}

{% endblock %}