{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ city.lname }}, {{ city.fname }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">First Name: {{ city.fname }}</li>
        <li class="list-group-item">Last Name: {{ city.lname }}</li>
        <li class="list-group-item">Address: {{ city.address }}</li>
        <li class="list-group-item">City: {{ city.city }}</li>
        <li class="list-group-item">State: {{ city.state }}</li>
        <li class="list-group-item">State: {{ city.zip_code }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{city.id}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{city.id}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}